
html {
    font-size: 18px;
    font-family: Helvetica;
    color: whitesmoke; 
}

.full-width-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.centered-container {
    display: flex;
    align-items: center;
    width: 960px;
}

header  {
    background-color: black;
}

.headertext {
    margin: 0.66rem 0 0.66rem 0;
    font-style: bold;
}

.headerimg {
    height: 1.5rem;
    margin: 0 1rem 0 0.5rem;
}

.title {
    align-items: center;
    justify-content: space-around;
    background-image: url("../resources/moto.jpeg");
    background-size: cover;
    height: 25rem;
}

.titlebox {
    background-color: black;
    width: 25rem;
    font-weight: bold;
}

.titlebox p {
    margin: 2rem 0 0.25rem 3rem;
}

.titlebox h2 {
    font-size: 2rem;
    margin: 0.25rem 0 2rem 3rem;
}

.menu {
    justify-content: space-around;
    background-color: firebrick;
}

.menuitems {
    justify-content: space-between;
}

.menuitem {
    margin: 0.75rem 0;
}

.gadgets {
    justify-content: space-between;
}

.gadget {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-end;
    margin: 3rem 0;
    border: 4px solid black;
}

.gadget p {
    text-align: center;
    width: 100%;
    padding: 0.5rem 0;
    background-color: black;
    color: white;
} 

.gadgetimage {
    height: 9rem;
    width: 9rem;
    margin: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.gadgetimage.n1 {
    background-image: url("../resources/pen.png")
}

.gadgetimage.n2 {
    background-image: url("../resources/watch.png")
}

.gadgetimage.n3 {
    background-image: url("../resources/glasses.png")
}

.contactitems {
    justify-content: space-between;
}

.contactitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin-bottom: 4rem;
}

.contactitem .heading {
    padding: 1rem 0 1rem 2rem;
    background-color: black;
}

.contactitem .text {
    color: black;
    margin-top: 5px;
}

.footercontainer {
    background-color: black;
}

footer {
    height: 5rem;
}